# Android
android/.gradle/
android/.idea/
android/local.properties
android/build/
android/app/build/
android/captures/
*.apk
*.aab
*.ap_
*.dex
*.class

# Gradle
.gradle/
gradle-app.setting
!gradle-wrapper.jar

# Linux
*.o
*.so
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
